<a href="https://guidetoallyship.com/" class="ally-sign" target="_blank" rel="noopener noreferrer">
  <svg viewBox="0 0 200 130">
    <text x="0" y="15" textLength="200" font-family="sans-serif" font-weight="lighter" font-size="18" fill="orange">BLACK LIVES MATTER</text>
    <text x="0" y="31" textLength="200" font-family="sans-serif" font-size="11" font-weight="400" fill="yellow">WOMEN'S RIGHTS ARE HUMAN RIGHTS</text>
    <text x="0" y="53" textLength="200" font-family="sans-serif" font-weight="lighter" font-size="19" font-weight="400" fill="lightskyblue">NO HUMAN IS ILLEGAL</text>
    <text x="0" y="78" textLength="200" font-family="sans-serif" font-size="23" font-weight="600" fill="yellow">SCIENCE IS REAL</text>
    <text x="0" y="110" textLength="200" font-family="sans-serif" font-size="32" font-weight="100" fill="deeppink" >LOVE&nbsp;&nbsp;IS&nbsp;&nbsp;LOVE</text>
    <text x="0" y="128" textLength="200" font-family="sans-serif" font-size="14" font-weight="600" fill="white">KINDNESS IS EVERYTHING</text>
  </svg>
</a>
