<!DOCTYPE html>
<html>
    {% include head.html %}
    
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Aaron Renoir<br />
                Co Founder of <a href="https://fieldphone.com">FieldPhone</a><br />
                aaron@fieldphone.com
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/arenoir">github.com/arenoir</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
