<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" >
        <title>{{ page.title }}</title>

        <meta name="description" content="{{page.description}}">
        
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" />
        <link rel="stylesheet" href="/css/resume.css">
                
    </head>


    <body>
        
        <div id="doc2" class="yui-t7">
            <div id="inner">
                {{ content }}
            </div>
        </div>

    </body>

</html>
